
/* ---------------------------Global------------------------- */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header, footer{
    background-color: black;
}

main{
    flex-grow: 1;
    border: 1px solid violet;
}


.container{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.form, .index {
    margin: 0 auto;
}
/* -------------- components / header ---------------*/

#logo{
    font-size: 2em;
}

#navBar{
    display: flex;
}

li a{

    padding: 5px;
    margin-right: 10px;
    transition: all 500ms;
}

header a{
    color: beige;
}

/* -------------- components / footer ---------------*/

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;

    color: beige;
}
footer a{
    color: beige;
}
.legal{
text-align: center;
}

.legal ul{
    display: flex;
    margin-top: 20px;
}

.legal ul li{
    margin-right: 10px;
}
.legal p{
    margin-top: 20px;
}

/* -------------- people/films List ---------------*/

#list-container{
    flex-wrap: wrap;
}

.card{
    height: 350px;
    width: 350px;
    box-shadow: 10px 10px 4px -6px #000000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img{
    max-height: 200px;
    max-width: 150px;
    margin-top: 15px;
}

/* -------------- singlePeoplePage ---------------*/

#single{
    flex-direction: column;
}

