{% extends 'base.html.twig' %}

{% block title %}Ajouter un Film
{% endblock %}

{% block body %}
<h1>Ajouter un Film </h1>

<main>

<div class="form-container">
{{ form_start(form) }}



<button class="button">Ajouter</button>
{# <input type="submit"> #}
{{ form_end(form)}}

</div>

</main>

{% endblock %}
