{% extends 'base.html.twig' %}

{% block title %}Hello FilmController!{% endblock %}

{% block body %}
<main>
    <section>
        <div class="container">
        <h1>Film controller</h1>
        </div>
    </section>
</main>
{% endblock %}
