{% extends 'base.html.twig' %}

{% block title %}Ajouter un intervenant
{% endblock %}

{% block body %}

<h1>Ajouter un intervenant </h1>

<main class="form">
    <div class="form-container">
    {{ form_start(form) }}

    <button class="button">Ajouter</button>
    {{ form_end(form)}}

    </div>

</main>

{% endblock %}
