<header>
	<div class="container">
		<a href="{{path('main_index')}}">
			<span id="logo"><i class="fa-solid fa-movie"></i> MovieLib</span>
		</a>

		<nav>
			<ul id="navBar">
				<li><a href="#">Accueil</a></li>
				<li><a href="#">Films</a></li>
				<li><a href="#">Intervenants</a></li>
				<li><a href="#">Connexion</a></li>
				<li><a href="#">Inscription</a></li>
			</ul>
		</nav>
	</div>
</header>